<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <div class="container">
                <img src="/assets/images/me.jpg" alt="my awesome pic">
            </div>
        </div>
        {%- include footer.html -%}
    </main>

    <style>
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            height: 100px;
            width: 200px;
            border: 0rem medium thin;
            padding-bottom: 4rem;
        }
    </style>


</body>

</html>